/* variables */
:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  /* ### Neutral */

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);

  /* ### Transition */
  --trans: all 0.5s;
  --fast-trans: all 0.2s;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--Dark-Blue);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  display: block;
}

p {
  font-size: 1.125rem;
  line-height: 2rem;
  color: var(--Grayish-Blue);
}

.container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  overflow-x: hidden;
}

.wrapper {
  padding: 7rem 1.2rem;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  font-size: 1.25rem;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: var(--trans);
  z-index: -1;
}

.overlay.show {
  opacity: 1;
  z-index: 1;
}

.invite--btn {
  padding: 12px 25px;
  border-radius: 1.5rem;
  background-image: linear-gradient(
    to right,
    var(--Lime-Green),
    var(--Bright-Cyan)
  );
  color: var(--Light-Grayish-Blue);
  font-weight: 500;
  font-size: 1rem;
  transition: var(--fast-trans);
}

.invite--btn:hover {
  opacity: 0.7;
}

/* logo and Hamburger menu mobile design */
/* logo and Hamburger menu mobile design */
nav {
  position: relative;
}

nav .wrapper {
  position: relative;
  padding-block: 1.5rem;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  background-color: var(--White);
}

nav .invite--btn,
.navlinks {
  display: none;
}

.nav--logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* mobile menu */
/* mobile menu */

.menu {
  position: absolute;
  width: 90%;
  background-color: var(--White);
  left: 50%;
  transform: translateX(-50%);
  top: 5.875rem;
  padding: 2rem 0;
  border-radius: 0.7rem;
  transition: var(--trans);
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.2);
}

.menu ul li:not(:last-of-type) {
  margin-bottom: 1rem;
}

.menu ul li a {
  display: block;
  width: fit-content;
  padding: 0.5rem;
  margin: 0 auto;
  color: var(--Dark-Blue);
  font-weight: 600;
  transition: var(--fast-trans);
}

.menu ul li a:hover {
  color: var(--Lime-Green);
}
/* ##  {nav and  logo end}  ## */
/* ##  {nav and  logo end}  ## */

/*## Hero  ##*/
/*## Hero  ##*/
.hero_section {
  background: url("./images/bg-intro-mobile.svg") no-repeat top right;
  background-size: 100%;
  background-origin: border-box;
  padding-top: 0;
}

.hero-images {
  margin-top: -10.25rem;
}

.hero--text {
  padding-block: 3.5rem;
  text-align: center;
}

.hero--text .invite--btn {
  margin-top: 1.3rem;
}
/*## Hero End  ##*/
/*## Hero End  ##*/

/*## Benefits section  ##*/
/*## Benefits section ##*/
.benefits_section {
  background-color: var(--Light-Grayish-Blue);
  padding-block: 7rem;
  text-align: center;
}

.benefits-card_container {
  margin-top: 4rem;
}

.benefits_card {
  margin-bottom: 2rem;
}

.benefits_card img {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
}

.benefits_card h3 {
  margin: 1rem 0;
  color: var(--Dark-Blue);
  font-weight: 400;
}

.benefits-card_container,
.recent-blog-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.76rem, 1fr));
  gap: 1rem;
  align-items: stretch;
}
/*## Benefits section End ##*/
/*## Benefits section End ##*/

/*## RecentArticles section End ##*/
/*## RecentArticles section End ##*/
.RecentArticles {
  padding-block: 7rem;
  text-align: center;
  background-color: var(--Very-Light-Gray);
}

.recent-blog-cards {
  margin-top: 3rem;
}

.recent-blog-cards img {
  height: 14rem;
  object-fit: cover;
}

.blog-cards:not(:last-of-type) {
  margin-bottom: 3rem;
}

.blog-cards img {
  border-radius: 0.5rem 0.5rem 0 0;
}

.blog--text {
  text-align: left;
  padding: 2.3rem;
  background-color: var(--White);
  border-radius: 0 0 0.5rem 0.5rem;
}

.blog--text p:first-child {
  font-size: 0.8rem;
}

.blog--text p {
  line-height: 1.4rem;
}

.blog--text a {
  color: var(--Dark-Blue);
  display: block;
  margin-block: 0.9rem;
  transition: var(--fast-trans);
}

.blog--text a:hover {
  color: var(--Lime-Green);
}
/*## RecentArticles section End ##*/
/*## RecentArticles section End ##*/

/*## footer section ##*/
/*## footer section ##*/
footer {
  background-color: var(--Dark-Blue);
}

.footer-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.footer--logo {
  width: 12rem;
  margin-bottom: 2rem;
}

.socials-media__link {
  display: flex;
  gap: 1rem;
}

.socials-media__link img {
  width: 1.5rem;
  height: 1.5rem;
}

.socials-media__link li {
  margin-bottom: 1rem;
}

.footer--links ul li {
  margin-bottom: 1rem;
  text-align: center;
}

.footer--links ul li a {
  color: var(--White);
  text-align: center;
}

.footer--links ul li a:hover {
  color: var(--Lime-Green);
}

.footer--invite {
  margin-top: 2rem;
  text-align: center;
}

.footer--invite .invite--btn {
  margin-bottom: 1rem;
}

/* #footer end# */
/* #footer end# */
/* #footer end# */

@media screen and (min-width: 38.75rem) {
  .wrapper {
    padding-inline: 4rem;
  }
}

/*# Desktop Screen size# */
/*# Desktop Screen size# */

@media screen and (min-width: 58.18rem) {
  /* nav */
  /* nav */
  nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0;
  }

  nav .invite--btn,
  .navlinks {
    display: block;
  }

  .mobile_nav-btn {
    display: none;
  }

  .links-cover {
    display: flex;
  }

  .links-cover li {
    margin-inline: 0.5rem;
  }

  .links-cover li a {
    color: var(--Dark-Blue);
    padding: 1.5rem 0.5rem;
    display: block;
    border-bottom: 3px solid transparent;
    transition: var(--trans);
    font-size: 1rem;
  }

  .links-cover li a:hover {
    border-image: linear-gradient(
        to right,
        var(--Lime-Green),
        var(--Bright-Cyan)
      )
      1;
  }

  .menu.visible {
    opacity: 0;
    z-index: -1;
  }

  /* {Nav end} */
  /* {Nav end} */

  /* {hero } */
  /* {hero} */
  .hero_section {
    background-image: none;
    padding: 0rem 0 1rem 4rem;
    position: relative;
    height: 35rem;
  }

  .hero--container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
  }

  .hero-images {
    background: url("./images/bg-intro-desktop.svg") no-repeat right top;
    background-size: 100%;
    background-position: 1.5rem -2rem;

    width: 65%;
    margin-top: -3rem;
    margin-right: -9rem;
    flex-shrink: 0;
  }

  .hero-images img {
    width: 100%;
    height: 45rem;
  }

  .hero--text {
    text-align: left;
  }
  /* { # Hero_section  End #} */
  /* { # Hero_section  End #} */

  /* { # benefits_section #} */
  /* { # benefits_section #} */
  .benefits_section {
    text-align: left;
  }

  .benefits_card img {
    margin: 0;
  }

  .benefits_section--title {
    max-width: 42rem;
    width: 100%;
  }

  .benefits-card_container {
    margin-top: 6rem;
  }
  /* { # benefits_section End #} */
  /* { # benefits_section End #} */

  /* { # RecentArticles_section #} */
  /* { # RecentArticles_section #} */
  .recent-blog-post__wrapper {
    text-align: left;
  }

  .blog--text {
    padding: 1rem;
  }

  .recent-blog-cards img {
    height: 12rem;
  }
  /* { # RecentArticles_section End#} */
  /* { # RecentArticles_section End#} */

  /* { # Footer_section #} */
  /* { # Footer_section #} */
  .footer--container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .footer-logo__links-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3rem;
  }

  .footer--links ul li {
    text-align: left;
  }

  .footer-link__container {
    display: flex;
    gap: 2rem;
  }

  .footer--invite {
    margin-top: 0;
  }
}
